.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
    
}

.title{
    color: rgb(244, 53, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20px;

}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-top: 20px;

}

.pesquisa input{
    border:0;
    font-size: 20px;
    outline: none;
    
}


.cabecalho{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background: black;
    

}


.categorias{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    background-color: whitesmoke; 
}

.categorias button{
    font-size: large;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.produtos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    justify-content: space-between;
    
}
.produtos p{
    font-family: bold;
    font-size: 30px;
}

.camisa1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    flex-direction: column;
}

.camisa2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    flex-direction: column;
}

.camisa3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33.3%;
    flex-direction: column;
}

.footer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 10%;
    background: rgb(244, 53, 180);
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    color:#fff;
}

.localizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    color: #FFF;
}