.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.title{
    color: rgb(244, 53, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    

}

.pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}

.cabecalho{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background: black;

}


.categorias{
    width: 100%;
    height: 5%;
    justify-content: flex-center;
}

.produtos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 65%;
    justify-content: space-between;
}


.footer{
    width: 100%;
    display: flex;
    align-items: flex-end;
    height: 20%;
    background: rgb(0, 0, 0);
}

.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    color: rgb(244, 53, 180);;
}

.localizacao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex-direction: column;
    color: rgb(244, 53, 180);
}